In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
df = pd.read_csv("../../dataset/housing_dataset/Bangalore.csv")
df.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,30000000,3340,JP Nagar Phase 1,4,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
1,7888000,1045,Dasarahalli on Tumkur Road,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,4866000,1179,Kannur on Thanisandra Main Road,2,0,0,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0
3,8358000,1675,Doddanekundi,3,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6845000,1670,Kengeri,3,0,1,1,1,1,1,...,1,0,0,0,0,0,0,0,0,0

In [6]:
datasets = []
for data in os.listdir("../../dataset/housing_dataset/"):
    datasets.append(data.replace(".csv", ""))
datasets

['Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai']

In [30]:
def createDataset(path):#"../../dataset/housing_dataset/"
    datasets_present = os.listdir(path)
    dataset_path = []
    dataset_path = [os.path.join(path, data_path) for data_path in datasets_present]
    os.makedirs("../../dataset/state_added_datasaet", exist_ok=True)
    new_dataset_path = "../../dataset/state_added_dataset/"
    for d_path in dataset_path:
        df = pd.read_csv(d_path)
        dataset_name = d_path.split("/")[-1].split(".")[0]
        df["State"] = dataset_name
        df.to_csv(f"../../dataset/state_added_datasaet/{d_path.split('/')[-1]}", index=False)
    print("done")

In [31]:
df = createDataset("../../dataset/housing_dataset/")

done

In [32]:
beng = pd.read_csv("../../dataset/state_added_datasaet/Bangalore.csv")
chennai = pd.read_csv("../../dataset/state_added_datasaet/Chennai.csv")
delhi = pd.read_csv("../../dataset/state_added_datasaet/Delhi.csv")
hyd = pd.read_csv("../../dataset/state_added_datasaet/Hyderabad.csv")
kol = pd.read_csv("../../dataset/state_added_datasaet/Kolkata.csv")
mumbai = pd.read_csv("../../dataset/state_added_datasaet/Mumbai.csv")

In [34]:
result_df = pd.concat([beng, chennai, delhi, hyd, kol, mumbai], axis=0)

In [37]:
result_df.drop("Unnamed: 0", axis=1, inplace=True)

In [39]:
result_df.to_csv("../../dataset/dataset.csv")